#activity {
  background-color: #96C3EC;
  max-width: 200px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  justify-items: center;
  grid-gap: 20px;
  padding: 20px;

  .room {
    width: 100%;

    .count {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      grid-gap: 5px;
      background-color: #8DD7CF;
      border: 1px solid #1AAE9F;
      margin-top: 10px;
      padding: 10px;

      .nbr {
        font-size: 1.5rem;
      }
      
      span {
        display: block;
        width: 75%;
        height: 2px;
        border-radius: 1px;
        background-color: #1AAE9F;
      }
    }
  }
}
