.obole--contentNav--button:hover, .obole--contentNav--button:focus {
  border-color: #e8833a;
  color: grey
}

.obole--contentNav--button {
  border: 2px solid #d9d9d9;
  color: grey;
  margin: 1px;
  font-size: larger;
  line-height: 0;
}